.quotesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

.quotesSection:hover {
  transform: scale(1.01);
}

.quotesSection p {
  padding-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .quotesSection {
    padding: 5rem 2rem;
  }
}
